<div class="center hero-unit">
  <h2 style="text-align: center; color: rgb(0, 76, 102); font-size: 33px;">Everything you need to <strong>grow</strong> your Photography business. </h2>
    <h4 style="color:#004c66">Try it <strong>FREE</strong> for 30 days</h4>
    <div style="max-width:1200px;margin:auto;"> 
      <span style="text-align:center">
        <h6>
          <ul class="list icons list-unstyled list-inline">
            <li><i class="glyphicon glyphicon-ok"></i>No credit card required</li>
            <li><i class="glyphicon glyphicon-ok"></i>No commitment</li>
            <li><i class="glyphicon glyphicon-ok"></i>Fully functional trial</li>
          </ul>
        </h6>
      </span>
    </div>
  <%= link_to "Start Free Trial Now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>
